.App {
  text-align: center;
}

.App-Logo {
  position:relative;
  max-width:150px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.App-Logo img {
  max-width: 100%;
}

.App-header {
    display: flex;
    justify-content: space-between;
}
/* Layout */
.topGraph {
  display:flex;
  flex-direction: row;
}
.topGraph--left {
  flex:2 1 100%;
  width: 100%;
  height: 600px;
  /* max-width: 1800px; */
  position:relative;
  display: flex;
}
.debugger_Code {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
}
.topGraph--right {
  /* flex:1 1 30%; */
  width: 30%;
  height: 460px;
  position: absolute;
  right: 0;
  /* top:0; */
  background: rgba(0,0,0,.3);
  display: flex;
  color:white;
  padding:20px;
}

.bottomGraph {
  position: relative;
  height:auto;
  width: 100%;
  /* padding:20px; */
  margin-top: 20px;
}


/* Map */

.map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Legend */

.legend-wrapper {
  position: absolute;
  top: -10%;left:20px;
  transform: translate(0, 50%);
  z-index: 999999;
  color:white;
  padding: 20px;
  background: rgba(0,0,0,.8);
  border:1px solid rgba(255,255,255,.3);
  border-radius: 5px;
  text-align: left;
  min-width:220px;
}

.legend-key {
  display: flex;
  color:white;
}
.legend-key p {
  margin:5px 0;
}

.legend-key-count {
  font-weight: 800;
  font-size:14px;
  padding-left:20px;
}

.legend-key__color {
  height:15px;
}

.map-tooltip {
  background: rgba(0,0,0,.7);
  color:white;
  padding:20px;
}

select > fieldset {
  border-color: white !important;
}